body {
    font-size: 17px;
    font-weight: normal;
    font-family: Cuprum;
    color: #000000;
    line-height: 17px;
}
h2 {
    font-size: 24px;
	font-weight: normal;
    font-family: Cuprum;
    color: #32425c;
    line-height: 30px;
}
h3 {
    font-size: 24px;
	font-weight: bold;
    font-family: Cuprum;
    color: #000000;
    line-height: 30px;
}
ul {
	padding: 0;
    margin: 0;
    list-style-type: none;
}

/*Сетка главной страницы.*/
.main-header {
    
 }
.container {
    width: 940px;
    margin: 10px auto;
    padding: 0 10px;
    
}
.logo {
	width: 220px;
	min-height: 42px;
	float: left;
	
}
.header-search {
	float: left;
	width: 150px;
	min-height: 42px;
}
.order-info {
	width: 460px;
	float: right;
	min-height: 42px;
	
}
.book {
	float: left;
	width: 140px;
	margin-right: 20px;
}
.shopping-cart {
	float: left;
	width: 140px;
	margin-right: 10px;
}
.order {
	float: left;
	width: 150px;
}
.info {
	float:left;
	width: 300px;
	margin-right: 20px;
}
.contacts {
	float:left;
	width: 300px;
	margin-right: 20px;
}
.login {
	float:left;
	width: 300px;
	margin-right: 0px;
}
.main-navigation {
	float: left;
	width: 940px;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 52px;
	background: yellow;
}
.n-1 { 
    float: left; 
    margin-right: 65px; 
    background: red; 

} 
.n-2 { 
    float: left; 
    margin-right: 60px; 
    min-width: 52px; 
    background: red; 
} 
.n-3 { 
    float: left; 
    margin-right: 61px; 
    min-width: 52px; 
    background: red; 
} 
.n-4 { 
    float: left; 
    margin-right: 58px; 
    min-width: 52px; 
    background: red; 
} 
.n-5 { 
    float: left; 
    margin-right: 62px; 
    min-width: 52px; 
    background: red; 
} 
.n-6 { 
    float: left; 
    margin-right: 64px; 
    min-width: 52px; 
    background: red; 
} 
.n-7 { 
    float: left; 
    min-width: 52px; 
    background: red;
 }
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.good {
	float: left;
	width: 300px;
	margin-right: 20px;
}
.good-3 {
	margin-right: 0px;
}
.slider {
	float: left;
	width: 620px;
	min-height: 266px;
	margin-right: 20px;
}
.good-4 {
	float: left;
	margin-right: 0px;
}
.good-5 {
	float: left;
	margin-right: 0px;
}
.pop-goods {
	float: left;
	width: 940px;
}
.catalog-item {
	float: left;
	width: 220px;
	min-height: 318px;
	margin-right: 20px;
	font-size: 12px;
}
.pop-producers {
	float: left;
	width: 940px;
}
.producer {
    float: left;
    width: 220px;
    margin-right: 20px;
    min-height: 144px;
}
.inter, .meta {
	margin-right: 0px;
}
.service-1 {
	float: left;
	width: 400px;
	min-height: 100px;
	margin-right: 540px;
}
.service-2 {
	float: left;
	width: 240px;
	min-height: 186px;
	margin-right: 80px;
}
.service-2 :nth-child(n) {
    margin-right: 130px;
}
.delivery {
	float: left;
	width: 300px;
	min-height: 154px;
}
.left-side {
	float: left;
	width: 540px;
	min-height: 374px;
	margin-right: 100px;
}
.right-side {
	float: left;
	width: 300px;
	min-height: 374px;
}
.footer-left {
	float: left;
	width: 380px;
	min-height: 140px;
	margin-right: 10px;
	background: blue;
}
.footer-right {
	float: right;
	width: 550px;
	min-height: 74px;
	background: cyan;
}
 .navigation {
	float: left;
	margin-right: 50px;
	padding-top: 24px;
	background: green;
}
 .navigation-1 {
	float: left;
	margin-right: 0px;
	padding-top: 24px;
	background: green;
}
.goods-footer {
    margin-left: 22px;
}
.copyright {
	float: left;
	width: 230px;
	min-height: 34px;
	margin-right: 160px;
}
.social {
	float: left;
	width: 150px;
	min-height: 40px;
	margin-right: 100px;
}
.contact-us {
	float: left;
	width: 300px;
	min-height: 32px;
}
.all {
	float: right;
	margin-bottom: ; 
}
/*Сетка каталога.*/
.bredcrumbs {
	float: left;
	width: 380px;
	margin-right: 560px;
}
.filter {
	float: left;
	width: 220px;
	min-height: 750px;
	margin-right: 20px;
}
.sort {
	float: left;
	margin-bottom: 10px;
}
.products {
	float: right;
	width: 700px;
	min-height: 1144px;
}
.info-2 {
	float: left;
	width: 940px;
	min-height: 132px;
	margin-right: 20px;
}
.catalog-item-4 {
    margin-right: 0px;
 }
.page {
	float: left;
	margin-right: 10px;
}